<?xml version="1.0"?>
<config>
    <modules>
        <Picqer_PostNL>
            <version>1.4.0</version>
        </Picqer_PostNL>
    </modules>
    <global>
        <models>
            <sales>
                <rewrite>
                    <order_api>Picqer_PostNL_Model_Sales_Order_Api</order_api>
                </rewrite>
            </sales>
            <picqer_postnl>
                <class>Picqer_PostNL_Model</class>
            </picqer_postnl>
        </models>
        <helpers>
            <picqer_postnl>
                <class>Picqer_PostNL_Helper</class>
            </picqer_postnl>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <postnl_adminhtml_ordergrid>
                        <class>Picqer_PostNL_Model_Adminhtml_Observer_OrderGrid</class>
                        <method>modifyGrid</method>
                    </postnl_adminhtml_ordergrid>
                    <postnl_adminhtml_shipmentgrid>
                        <class>Picqer_PostNL_Model_Adminhtml_Observer_ShipmentGrid</class>
                        <method>modifyGrid</method>
                    </postnl_adminhtml_shipmentgrid>
                    <postnl_adminhtml_shipmentview>
                        <class>Picqer_PostNL_Model_Adminhtml_Observer_ShipmentView</class>
                        <method>addPrintLabelButton</method>
                    </postnl_adminhtml_shipmentview>
                </observers>
            </adminhtml_block_html_before>
            <sales_order_shipment_save_after>
                <observers>
                    <!-- Creates a postnl shipment entity and generates a barcode through CIF -->
                    <postnl_shipment_generate_barcode>
                        <class>Picqer_PostNL_Model_Adminhtml_Observer_Barcode</class>
                        <method>generateBarcode</method>
                    </postnl_shipment_generate_barcode>
                </observers>
            </sales_order_shipment_save_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <picqer_shipping_options>
                                            <title>Store Picqer Shipping Section</title>
                                        </picqer_shipping_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
